<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <!-- //calling header  -->
        <%- include('_header'); %> 
        <h1> yayyy u have opened ur 1st view page that is <%= title%></h1>
        <!-- calling footer -->
        <%- include('_footer'); %>
    </body>
</html>