<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <!-- //calling header  -->
        <%- include('_header'); %>
        <h1> Welcome to user profile page </h1>
        <!-- calling footer -->
        <%- include('_footer'); %>
    </body>
</html>